:root {
  --primary-color-1:#2f529f;
  --primary-color-1-rgb:159, 82, 47;

  --primary-color-2:#9d9d9c;
  --primary-color-2-rgb:159, 82, 47;

  --secondary-color: #008dd1;
  --secondary-color-rgb: 000, 141, 209;
}
